/*body {
    margin:0;
}
#div-top{
    height:50px;
    background-color:aquamarine;
}
#div-main{
    display:flex;
    flex-direction:row;
}
#div-left{
    width:50%;
    height:auto;

}
    #div-left h3{
        text-align:center;
    }
#div-contain{
    width:50%;
    height:500px;
    background-color:black;
}
#div-footer{
    height:50px;
    background-color:burlywood;
    bottom:0px;
    text-align:center;
    left:50%;
    padding-top:25px;
}*/
